.column {
  background: #ebecf0;
  padding: 12px;
  width: 282px;
  border-radius: 10px;
  margin: 0px;
}

.title {
  margin-bottom: 15px;
  margin-top: 0px;
  font-weight: normal;
  font-size: 18px;
}

.card {
  display: block;
  background: #fff;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.input {
  width: 100%;
  margin-bottom: 12px;
  border: none;
  border-radius: 5px;
  padding: 7px 9px 6px 8px;
}

.select {
  width: 100%;
  margin-bottom: 12px;
  padding: 8px 7px;
  border: none;
  border-radius: 5px;
}

.button {
  font-size: 18px;
  gap: 6px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #5e6c84;
  transition: background 0.15s ease, border-color 0.15s ease;
  border-radius: 5px;
}

.buttonDisabled {
  color: #a5adba;
  cursor: not-allowed;
}

.button:not(.buttonDisabled):hover {
  background: #FFFFFF;
  border-color: #5e6c84;
}

.buttonSubmit {
  color: #ffffff;
  background: #0079bf;
  padding: 4px 8px;
}

.buttonSubmit:not(.buttonDisabled):hover {
  background: #026aa7;
  border-color: transparent;
}

.icon {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  margin-bottom: 12px;
  user-select: none;
}

.dropdownHeader {
  padding: 8px 10px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.dropdownHeader:hover {
  background: #f4f5f7;
}

.dropdownHeader svg {
  transition: transform 0.2s ease;
  display: inline-block;
  vertical-align: middle;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #dfe1e6;
  border-radius: 5px;
  margin-top: 4px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.dropdownItem {
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

.dropdownItem:hover {
  background: #0067a3;
  color: white;
}


@media (max-width: 360px) {
  .column {
    width: 90%;
    margin: 0 auto 12px auto; 
  }

  .button {
    font-size: 16px;
  }

  .dropdownList {
    width: 100%;
  }
}
