
  .board {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    flex-direction: row;
  }
  

  @media (max-width: 360px) {
    .board {
      flex-direction: column;
      align-items: center;
    }
  }
  